  /*
 * Copyright (c) 2023 ZitaoTech
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/ext_power.h>


#define DEFAULT 0
#define UPPER 1
#define SYM 2

&sk {
       release-after-ms = <2500>;
   };

/ {
   //单击层1字符，长按层2字符
    behaviors {
        bhm: balanced_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <400>;
            bindings = <&kp>, <&kp>;
        };
    };

   //单击返回，长按浏览器返回
    behaviors {
        rcm: rclick_capslock_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            bindings = <&kp>, <&mkp>;
        };
    };

   //切换蓝牙设备
    behaviors {
        btswitch: tap_dance_btswitch {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&tobt0>, <&tobt1>;
        };
    };

    macros {
        //切换设备1
        tobt0: zed_em_tobt0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &bt BT_SEL 0>,<&macro_tap &kp SPACE &kp SPACE &kp SPACE &kp SPACE>,<&macro_tap &to DEFAULT>;
        };

        //切换设备2
        tobt1: zed_em_tobt1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &bt BT_SEL 1>,<&macro_tap &to DEFAULT>;
        };
  };

   //单击PC切换输入法，双击RShift
    behaviors {
        tdrshift: tap_dance_rshift {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings =<&kp LG(SPACE)>, <&kp RSHFT>;
        };
    };

   //双击关闭程序
    behaviors {
        tdclosewindow: tap_dance_closewindow {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings =<&none>, <&kp LA(F4)>;
        };
    };

   //双击回到桌面
    behaviors {
        tdgohome: tap_dance_gohome {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings =<&kp LG(D)>, <&kp LA(ESC)>;
        };
    };

   //双击关闭浏览器标签页
    behaviors {
        tdclosetab: tap_dance_closetab { 
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings =<&kp W>, <&kp LC(W)>;
        };
    };

   //双击浏览器刷新    
    behaviors {
        tdrefresh: tap_dance_refresh { 
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings =<&none>, <&kp LC(R)>;
        };
    };

   //快速双击软重启
    behaviors {
        tdreset: tap_dance_reset {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&none>, <&sys_reset>;
        };
    };

    //单击临时sym层，双击进入sym层
    behaviors {
        tdtosym: tap_dance_tosym {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&sl SYM>, <&to SYM>;
        };
    };

    behaviors {
        tdshiftapp: tap_dance_shiftapp {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <250>;
            bindings = <&mkp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {

            bindings = <
// -----------------------------------------------------------------------------------------------------------------------------------------------         
//         |    Shoulder Key1    |                                                                             |    Shoulder Key2    |     
// |         Call key      |      Blackberry Key        |    Trackpad    |             Back Key                |             Endcall Key          |
// |     Q      |     W    |     E    |     R    |      T      |       Y        |       U        |        I        |       O      |      P        |     
// |     A      |     S    |     D    |     F    |      G      |       H        |       J        |        K        |       L      |      ←        |  
// |     alt    |     Z    |     X    |     C    |      V      |       B        |       N        |        M        |       $      |    Enter      |   
//        |         aA     |         0           |           SPACE              |         SYM         |        aA          |       
// -----------------------------------------------------------------------------------------------------------------------------------------------

        &tdshiftapp LCLK LA(TAB)                                                                                                 &btswitch
        &msc SCRL_UP                   &msc SCRL_DOWN             &mkp LCLK              &rcm LA(LEFT) RCLK                            &to UPPER
    &kp LC(Q)          &tdclosetab      &kp UP          &tdrefresh        &kp LC(T)      &kp LC(Y)              &none              &kp C_VOL_DN        &kp C_VOL_UP      &tdclosewindow
    &kp LC(A)          &kp LEFT         &kp DOWN        &kp RIGHT         &kp LC(G)      &kp LC(HOME)           &kp LC(END)        &kp AMPS            &kp EQUAL         &bhm DEL BSPC
    &kp ESC            &kp LC(Z)        &kp LC(X)       &kp LC(C)         &kp LC(V)      &none                  &none              &tdgohome           &kp CLCK        &kp ENTER
                  &msc SCRL_UP     &msc SCRL_DOWN            &mkp LCLK                       &rcm LA(LEFT) RCLK             &tdshiftapp  LCLK LA(TAB)
            >;
        };

        upper_layer {

            bindings = <
                 &tdshiftapp LCLK LA(TAB)                                                                                             &btswitch
        &msc SCRL_UP                   &msc SCRL_DOWN             &mkp LCLK              &rcm LA(LEFT) RCLK                            &to DEFAULT
    &kp Q          &bhm N1 W    &bhm N2 E    &bhm N3 R    &kp T      &kp Y      &kp U       &kp I      &kp O        &kp P
    &kp A          &bhm N4 S    &bhm N5 D    &bhm N6 F    &kp G      &kp H      &kp J       &kp K      &kp L        &kp BSPC
    &sk LSHFT      &bhm N7 Z    &bhm N8 X    &bhm N9 C    &kp V      &kp B      &kp N       &kp M      &kp CLCK     &kp ENTER
                 &sk LCTRL        &kp N0                   &kp SPACE                     &tdtosym             &tdrshift
            >;
        };

        sym_layer {

            bindings = <        
        &none                                                                                                    &none
        &msc SCRL_UP                   &msc SCRL_DOWN             &mkp LCLK              &rcm LA(LEFT) RCLK                            &none
    &kp HASH       &kp N1           &bhm UP N2        &kp N3           &kp LPAR               &kp RPAR           &kp UNDER     &kp MINUS      &kp PLUS       &bhm PRCNT AT
    &kp STAR       &bhm LEFT N4     &bhm DOWN N5      &bhm RIGHT N6    &bhm BSLH KP_DIVIDE    &kp COLON          &kp SEMI      &kp DQT        &kp APOS       &kp BSPC
    &tdreset       &kp N7           &kp N8            &kp N9           &kp QMARK              &kp EXCL           &kp COMMA     &kp DOT        &kp DLLR       &kp ENTER
           &none          &kp N0                    &kp SPACE                     &to UPPER               &none
            >;
        };

    };
}; 
